body{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    text-align: center; */
    display: inherit;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
    margin: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3D82BA;
    outline: 1px solid slategrey;
    }

body #obsolete-browser-content a{
    font-family: 'Inconsolata', 'Courier', 'Courier New', 'Lucida Sans Typewriter', 
    'Lucida Console', 'Monaco', 'Andale Mono', monospace;
    text-decoration: underline;
    color: #9e9e9e;
}

body #obsolete-browser-content{
    text-align: center;
}

body #obsolete-browser-content b{
    color: #333;
}


#obsolete-browser-content h1{
    font-family: 'Indie Flower', cursive, 'Josefin Slab', 'Georgia',
    'Times', 'Times New Roman', 'Palatino Linotype', serif;
    font-size: 4em;

}


#obsolete-browser-content a:hover{
    color: #3D82BA;
}

#obsolete-browser-content a:visited{
    text-decoration: none;
}

.nav-nobs-container{
    margin-bottom: 30px;
}

.page-btn{
    text-align: center;
    color: #fff;
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 6px;
    margin-top: 10px;
    background: #3D82BA;
    box-shadow: -3px 5px 25px 0px rgba(46,61,73,0.2);
    transition: all 0.3s ease-in-out;
}

.page-btn:hover{
    filter: brightness(90%);
    box-shadow: 5px 2px 20px 0px rgba(46,61,73,0.15);
}
