html, body {
    width: 100vw;
    max-width: 100vw;
    height: auto;
    overflow-x: hidden;
}

body{
    position: relative;
}

a{
  color: #000000;
}

s{
  /* color: #90a1b8; */
  color: #000000;
}

u{
  /* color: #90a1b8; */
  color: #000000;
 
}

p {
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 1.45em; */
  font-size: 1.2em;
  margin: 0px;
  color: #9e9e9e;
} 

h1{
  font-family: 'Josefin Slab', Georgia, serif;
  /* font-size: 2.5em; */
}

h3{
  font-family: 'Josefin Slab', serif;
  /* font-size: 1.75em; */
  color: #909090;
}


h4{
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 1.3em; */
  color: #fff;
  text-align: center;
  min-height: 84px;
  font-weight: light;
}

.inconsolata{
  font-family: 'Inconsolata', monospace;
  /* font-size: 17px; */
  font-size: 1.02em;
  color: #9e9e9e;
  padding: 5px 10px 5px 10px;
}


.custom-nav-format{
  font-family: 'Inconsolata', monospace;
  /* font-size: 3.5em; */
  font-size: 3em;
  letter-spacing: 6px;
  color: #fff;
  list-style: none !important;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out;
}

.custom-nav-format:hover{
  color: #808080;
}

.custom-nav-contact-format{
  font-family: 'Inconsolata', monospace;
  /* font-size: 17px; */
  font-size: 1.02em;
  color: #fff;
  list-style: none !important;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out;
}

.custom-nav-contacts-format:hover{
  color: #808080;
}

.footer-format{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  padding: 40px;
  text-align: center;
}

.card-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    max-width: 100%;
    height: auto;
    min-height: 95vh;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* padding: 20px 20px 20px 20px; */
    padding: 80px 2% 2% 2%;
    position: relative;
    color: white;
    box-shadow: 0px 39px 61px -15px rgba(128,128,128,1);
}

.card-heading-format{
  font-family: 'Megrim', cursive;
  font-weight: bold;
  margin-bottom: 40px;
}

.card-pic-format{
  width: 300px;
  height: 300px;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /* transition: transform 4s ease; */
  margin-bottom: 80px;
  overflow: hidden;
}

.card-icons-format{
  font-size: 50px;
  color: white;
  /* transition: scale 0.3s linear; */
}

.card-pic-format:hover img{
  transform: scale(1.5);
}

.section-breaker-format{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #3f3e44;
  margin-bottom: 80px;
}

.section-breaker-format > :first-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.slogan{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Slab', serif;
  font-size: 3.5em;
  color: #808080;
  font-weight: normal;
  padding: 5px 10px 5px 10px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}

.section-badge{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0 9px 25px -5px #808080;
} 

.section-badge img{
  width: 100px;
  height: 100px;
}

.icon-size-sm{
  font-size: 2em !important;
}

.victory-icon-format{
  width: 400px;
  height: 400px;
}

/*----------Navigation bar stuff----------*/



#nav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 15;
  top: 1%;
  right: 0px;
  margin: 0px 10px 0px 0px;
  border-radius: 5%;
  transition: transform 0.3s ease-in-out;
}

/* #nav-btn:hover{
transform: scale(1.05);
} */

#nav-btn span i{
  color: #808080;
  /* color: #ff4eb3; */
  /* color: #ff765c; */
  transition: filter 0.3s ease-in-out;
}

#nav-btn:hover span i{
  filter: brightness(80%);
}

#custom-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 0;
  background-color: #3f3e44;
}

#custom-nav .nav-ul{
  /* border: 2px solid #fff; */
  list-style: none;
  text-decoration: none;
  text-align: center;
  width: 400px;
  padding: 0px;
}

/* #custom-nav .nav-ul .nav-li{
   transition: transform 0.3s ease-in-out;
} */

#custom-nav .nav-ul .nav-li:hover{
  color: #909090;
}

#custom-nav .nav-contact-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0px;
}

#custom-nav .nav-contact-ul .nav-contact-li{
  margin: 0px 10px 0px 10px;
}

#custom-nav .nav-contact-ul .nav-contact-li a:hover{
  color: #909090;
} 

#custom-nav .nav-contact-ul .seperator-li p{
  color: #fff;
  font-weight: bold;
}


#pseudo-body{
  position: relative;
  width: 100%;
  height: 100%;
}


/*----------Custom Modal Stuff----------*/
.custom-modal-layer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100vh;
  background-color: rgba(63,62,68,0.8);
  /* background: linear-gradient(141deg, rgba(15,184,173,0.5) 0%, rgba(31,200,219,0.5) 51%, rgba(44,181,232,0.5) 75%); */
}

.custom-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 800px;
  height: auto;
  /* min-height: 500px; */
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 12px 15px 0 rgba(black, 0.25);
}

.custom-modal .custom-modal-window-close{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2000;
  bottom: 93%;
  left: 97%;
  width: 40px;
  height: 40px;
  /* background-color: rgba(63,62,68,1); */
  background: #1fc8db;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s ease-in-out;
}

.custom-modal .custom-modal-window-close:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  filter: brightness(95%);
}

.custom-modal .custom-modal-window-close span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.custom-modal .custom-modal-window-close span i{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  text-align: center;
  color: rgba(255,255,255,0.9);
  margin: 0px;
  transition: transform 0.3s ease-in-out;
  
}

.custom-modal .custom-modal-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  width: 100%;
  min-height: 80px;
  /* font-size: 24px; */
  font-weight: bold;
  text-align: center;
  white-space: pre-line;
  
}

.custom-modal .custom-modal-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* font-size: 20px; */
  white-space: pre-line;
  text-align: center;
}

.custom-modal .custom-modal-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 80px;
  text-align: center;
}

/* ----------Greeter Stuff----------*/

#greeter-main{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  min-width: 100%;
  min-height: 100vh;
  background: #3f3e44;
}

#greeter-main h1{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

#greeter-main #greeter-access{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  border-radius: 30px;
  text-align: center;

  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

#greeter-main #greeter-access:hover{
  background: #ffffff;
  color: #3f3e44;
}

#greeter{
  min-height: 100vh;
  max-width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.last-updated{
  position: absolute;
  z-index: 15;
  top: 1%;
  left: 0px;
  margin: 0px 10px 0px 0px;
  font-size: 0.75em;
  /* margin: 10px 0px 0px 10px !important; */
}

#greeter-logo{
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#greeter-logo figure{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#greeter-logo figure img{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#greeter-txt-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #eee;
}

#greeter-h1{
  font-family: 'Josefin Sans', sans-serif; 
  /* font-family: 'Inconsolata', monospace; */
  font-size: 36px;  
  font-weight: bold;
}

#pseudo-body #greeter #greeter-about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  white-space: pre-line;
  text-align: center;
  padding: 10px;
}

#greeter-breaker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 60px;
  position: relative;
}

#greeter-breaker-h1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.3em;  
  font-weight: bold;
  position: absolute;
  z-index: 22;

  margin: 0px auto 0px auto;
}

.crossout{
  width: 39%;
  height: 10px;
  position: absolute;
  top: 35%;
  background-color: #3f3e44;
  /* margin: auto 0px auto 0px; */
  z-index: 22;
}

.greeter-groot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

#greeter-breaker img{
  width: 783px;
  height: 978px;
  filter: grayscale(1);
}


/*----------Me Stuff-----------*/

#me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  /* margin-bottom: 100px; */
}

#me-card{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}


#me-pic-div img{
  max-width: 100%;
  min-height: 100%;
  transition: all 4s;
}

#me-card p{
  color: #fff;
  max-width: 50%;
  text-align: center;
  margin-bottom: 80px;
}

.me-card-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 70%;
  margin-bottom: 40px;
}

.me-card-icons div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


.me-card-icons div{
  width: 100px;
}

.me-card-icons div h4{
  text-align: center;
  width: 200px;
}

#me-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


#me h2{
  text-align: center;
}

#me-subsection{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  padding-top: 40px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}


#me-section #skills .skills-icons i{
  font-size:55px;
  text-align: center;
  width: 61px;
  height: 61px;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  border: 2px solid #eeeeee;
  border-radius: 50%;
}

#me-subsection #education{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  margin-bottom: 80px;
}

#me-subsection #education h1{
  font-weight: bold;
  padding: 25px;
  margin: 40px;
}

#me-subsection #education h3{
  font-weight: bold;
}

#education #grade-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#grade-table table{
  width: 100%;
  border-collapse: collapse;
}

#grade-table table thead{
  color: #1fc8db;
  padding: 20px;
  border-bottom: 2px solid #1fc8db;
}

#grade-table table thead tr th{
  text-align: center;
  padding: 5px;
}

#grade-table table tbody{
  text-align: center;
  padding: 20px;
}

#grade-table table tbody tr td{
  width: 400px;
  padding: 5px;
}

#grade-table table tbody tr p{
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

#grade-table table tbody tr p:hover{
  transform: translateX(-4px);
  color: #1fc8db;
}

#me-subsection #work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 80px;
}

#me-subsection #work h1{
  font-weight: bold;
  padding: 25px;
  margin: 40px;
}


#me-subsection #work h3{
  font-weight: bold;
}

#me-subsection #work .work-info-btn{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90px;
  height: 29px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 6px;
  background: #1fc8db;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  box-shadow: -3px 5px 25px 0px rgba(46,61,73,0.2);
  transition: all 0.3s ease-in-out;
}

#me-subsection #work .work-info-btn:hover{
  color: #ffffff;
  filter: brightness(95%);
  box-shadow: 5px 2px 20px 0px rgba(46,61,73,0.15);
}

#work .work-info-btn p{
  color: #fff;
}

#me-subsection #skills{
  width: 100%;
  text-align: center;
  padding: 0px 25% 80px 25%;
}

#me-subsection #skills h1{
  font-weight: bold;
  padding: 25px;
  margin: 40px;
}

#me-subsection #skills h3{
  font-weight: bold;
}

#me-subsection #skills div ul{
  padding: 0;
}

#me-subsection #skills div ul h3{
  font-weight: lighter;
}

#me-subsection #skills div ul li{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#me-subsection #skills div ul li:hover{
  background-color: #eeeeee;
}

#me-subsection #skills div ul li .ability{
 margin-right: auto;
}

#me-subsection #skills div ul li .ability-score{
  /* color: #eeeeee; */
  color: #DFE0E0;
  font-size: 1em;
}

#me-subsection #future{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh + 32em);
  text-align: center;
  /* padding-bottom: 80px; */
  padding: 0px 21% 0px 21%;
}

#me-subsection #future h1{
  font-weight: bold;
  /* border-bottom: 2px solid #eee; */
  padding: 25px;
  margin: 40px;
}

#me-subsection #future h3{
  font-weight: bold;
  /* color: #2cb5e8; */
}

#future .future-plans-layout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  margin-bottom: 60px;
  /* background-color: pink; */
}

#future .future-plans-layout-reverse{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  margin-bottom: 60px;
  /* background-color: pink; */
}

.future-plans-layout .container-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 40%;
  /* background-color: green; */
}

.future-plans-layout-reverse .container-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 40%;
  /* background-color: green; */
}

.future-plans-layout-reverse .container-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 60%;
  /* background-color: purple; */
}

.future-plans-layout .container-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 60%;
  /* background-color: purple; */
}


.img-container img{
  width: 100px;
  height: 100px;
}

.container-2 .txt-container{
  text-align: left;
}

#me-subsection #hobbies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 0px 10% 80px 10%;
}

#me-subsection #hobbies h1{
  font-weight: bold;
  padding: 25px;
  margin: 40px;
}

#me-subsection #hobbies h3{
  font-weight: bold;
  /* color: #2cb5e8; */
}

#hobbies .hobbies-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */

}

.hobbies-container .hobbies-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: purple; */
  width: 100%;
}

#me-subsection #fancies{
  /* width: 950px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  min-height: 100vh;
  text-align: center;
  padding: 0px 21% 80px 21%;
}

#fancies .fancies-layout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  margin-bottom: 60px;
  /* background-color: pink; */
}

#fancies .fancies-layout-reverse{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  margin-bottom: 60px;
  /* background-color: pink; */
}

.fancies-layout .container-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 50%;
}

.fancies-layout-reverse .container-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 50%;
}

.fancies-layout-reverse .container-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
}

.fancies-layout .container-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
}

.container-2 .txt-container{
  /* white-space: pre-line;*/
  text-align: left;
}

#me-subsection #fancies h1{
  font-weight: bold;
  /* border-bottom: 2px solid #fff; */
  padding: 25px;
  margin: 40px;
}

#me-subsection #fancies h3{
  font-weight: bold;
}


#me-subsection #groudie{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 80px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

#groudie .me-imgs-icons-top{
  color: #bdbdbd;
  /* color: #DFE0E0; */
  position: absolute;
  top: 10%;
  z-index: 22;
}

#groudie .me-imgs-icons-bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0%;
  z-index: 22;
  padding: 0px;
}

#groudie .me-imgs-icons-bottom span{
  margin: 20px 20px 20px 20px;
}

#groudie .me-imgs-icons-bottom span i{
  color: #bdbdbd;
  transition: color 0.3s ease-in-out;
}

#groudie .me-imgs-icons-bottom span i:hover{
  color: #3f3e44;
}


/* #me-subsection #groudie h1{
 
   background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  border-bottom: 2px solid #eee;
  padding: 25px;
  margin: 40px;
}

#me-subsection #education h3{
  font-weight: bold;
} */

#me-imgs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  position: relative;
}

#me-imgs .me-imgs-arrow{
  color: #bdbdbd;
  margin: 0px 20px 0 20px;
}

#me-imgs .me-img-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 300px;
  position: relative;
  overflow: hidden;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

#me-imgs .me-img-container:hover{
  width: 350px;
  height: 400px;
}

.me-img-container figure{
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

#me-imgs .me-img-container:hover figure{
  opacity: 1;
} 


#me-imgs .me-img-container figure img{
  width: 100%;
  height: 100%;
} 


/*----------Services Stuff -----------*/

#services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  /* margin-bottom: 100px; */
}

#services-card{
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(141deg, #BD3F25, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(141deg, #BD3F25, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#services-pic-div img{
  width: 100%;
  height: 100%;
  transition: all 4s ease;
}

#services-card p{
  color: #fff;
  max-width: 50%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.services-card-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 70%;
  margin-bottom: 40px;
}

.services-card-icons div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  width: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#services-section div i{
  font-size: 55px;
  position: relative;
  margin-bottom: 60px;
  margin-right: 5px;
  margin-left: 5px;

  background: linear-gradient(141deg, #BD3F32, #CB356B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#services-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#services-section div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


#services-subsection{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 40px;
  /* padding-bottom: 40px; */
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#services-subsection div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  text-align: center;
  margin-bottom: 40px;
}

#services-subsection div h1{
  font-weight: bold;
}

#services-3d-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Inconsolata', monospace; */
}

/*#services-3d-container h1{
  font-size: 60px;
  color: gray;
}*/

#services-linux-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  position: relative;
}

#services-linux-img img{
  width: 1280px;
  height: 750px;
}

#services-linux-h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

#services-linux-h1 h1{
  font-size: 4.3em;
  font-weight: bold;
}

#services-linux-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  /* width: 450px; */
  width: 26%;
}

#services-linux-p p{
  font-weight: 550;
}


/*----------Contact Stuff----------*/
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

#contact-card{
  background: #b993d6; 
  background: -webkit-linear-gradient(141deg, #df91fb, #8ca6db); 
  background: linear-gradient(141deg, #df91fb, #8ca6db);
}


#contact-pic-div img{
  width: 100%;
  height: 100%;
  transition: all 4s ease;
}

#contact-card p{
  color: #fff;
  max-width: 50%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.contact-card-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 70%;
  margin-bottom: 40px;
}

.contact-card-icons div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 250px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* .contact-card-icons div h4{
   min-height: 84px;
} */


#contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contact-subsection{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background: url("img/contact-background-image-alt1k.jpg") repeat center center fixed;
  position: relative;
  margin-bottom: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* 
#contact-subsection:hover{
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25),
   0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
   0 10px 10px rgba(0,0,0,0.22);
   background: #f5f5f5 !important;
} */

#contact-subsection div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Inconsolata', monospace; */
  color: grey;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact-subsection div form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.95);
  width: 60%;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
}

/* #contact-subsection div form h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
} */


#contact-subsection div form span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#contact-subsection div form span{
  font-size: 80px;
}

label{
  /* font-size: 16px; */
  font-weight: lighter;
  color: #7d7d7d;
}

input[type=text]{
  width: 35%;
  height: 40px;
  box-sizing: border-box;
  border: none;
  /* border-bottom: 1.5px solid #cfcfcf; */
  /* border-radius: 30px; */
  border-radius: 30px;
  outline: none;
  background: #eee;
  font-size: 1.45em;
  font-weight: bold;
  color: #B99BEC;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input[type=text]:focus{
    /* background: rgba(223,145,251,0.5); */
    Background: rgba(185,155,236,0.6);
    color: #ffffff;
  /* width: 37%; */
}

textarea{
  font-size: 1.45em;
  font-weight: bold;
  color: #B99BEC;
  width: 60%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #cfcfcf;
  margin-bottom: 40px;
  outline: none;
  background: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

textarea:focus{
  border-bottom: 2px solid #B99BEC;
}

input[type=submit]{
  font-size: 1.45em;
  color: white;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: 0;
  width: 150px;
  height: 40px;
  background: #b993d6;
  background: -webkit-linear-gradient(141deg, #b993d6, #8ca6db); 
  background: linear-gradient(141deg, #b993d6, #8ca6db);
  box-shadow: 0 9px 25px -5px #df91fb;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input[type=submit]:hover{
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  box-shadow: 0 18px 25px -5px #B99BEC;
}


#contact-breaker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#contact-breaker p{
  font-weight: lighter;
  white-space: pre-line;
  text-align: center;
  position: relative;
}

#page-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f3e44;
  width: 100%;
  height: 100vh;
  position: relative;

}


#copyleft{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  position: relative;
  padding: 10px;
}

#copyleft-row-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-left: auto; */
}

#copyleft-row-1 span{
  margin-right: 5px;
}

#copyleft-row-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#copyleft-row-2 span{
  font-size: 25px;
  margin: 0px 5px 0 5px;
  transition: color 0.3s ease-in-out;
}

#copyleft-row-2 span:hover{
  color: #3f3e44;
}

.copyleft-symbol{
  display: inline-block;
  transform: rotate(180deg);
  font-size: 28px;
  color: #9e9e9e;
  width: 28px;
  height: 28px;
}

/*----------Font Stuff----------*/


/* #copyleft-row-2 span i{
   background: linear-gradient(141deg, #BD3F25, #CB356B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
/*----------Colors & Textures----------*/

.background-alpha{
  background-color: #ffffff;
}

.background-beta{
  background-color: #eeeeee;
}

.me-badge-border{
  /* border: 3px solid #0fb8ad; */
  border: 3px solid #1fc8db;
  /* border: 3px solid #1BC4CE; */
}

.services-badge-border{
  border: 3px solid #BD3F55;
}

.me-shade1{
  /* background-color: #b3e5fc; */
  background-color: #b2ebf2;
}

.me-shade2{
  /* background-color: #81d4fa; */
  background-color: #80deea; 
}

.me-shade3{
  /* background-color: #4fc3f7; */
  background-color: #4dd0e1;
}

.me-shade4{
/* background-color: #29b6f6; */
background-color: #26c6da;
}

.me-shade5{
/* background-color: #03a9f4; */
background-color: #00bcd4;
}

.me-shade6{
/* background-color: #039be5; */
background-color: #00acc1;
}

.me-shade7{
  /* background-color:#0288d1 */
  background-color: #0097a7;
}

.me-shade8{
  /* background-color:#0277bd; */
  background-color: #00838f;
}

.me-shade9{
  /* background-color: #01579b; */
  background-color: #006064;
}

.google-red{
  font-family: 'Josefin Sans', sans-serif;
  color: red;
}

.google-blue{
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;  
  font-weight: bold;
  color: blue;
}

.gradient-home{
  background: linear-gradient(-225deg,#ff4eb3  0%, #ff765c 100%);
  /* -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  box-shadow: 9px 0px 25px -5px #ff4eb3;
}

.gradient-me{
  background: linear-gradient(141deg, #0FB8AC 0%, #1fc8db 51%, #2cb5e8 75%);
  /* -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  /* box-shadow: 9px 0px 25px -5px #1fc8db; */
}

.gradient-services{
  background: #CB356B;
  background: -webkit-linear-gradient(141deg, #BD3F25, #CB356B);
  background: linear-gradient(141deg, #BD3F25, #CB356B);
  /* -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  box-shadow: 9px 0px 25px -5px #BD3F25;
}

.gradient-contact{
  background: #b993d6; 
  background: -webkit-linear-gradient(141deg, #df91fb, #8ca6db); 
  background: linear-gradient(141deg, #df91fb, #8ca6db);
  box-shadow: 9px 0px 25px -5px #df91fb;
}

.gradient-journal{
  background: linear-gradient(141deg, #1f1c2c, #928dab);
  /*background: linear-gradient(-225deg, #76b852 0%, #f79d00 100%);*/
  /* -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  box-shadow: 9px 0px 25px -5px #606c88;
}

.gradient-home-txt{
  background-image: linear-gradient(-225deg,#ff4eb3  0%, #ff765c 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-me-txt{
  color: #1fc8db;
  background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-services-txt{
  background-image: linear-gradient(141deg, #BD3F25, #CB356B);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-contact-txt{
  background-image: linear-gradient(141deg, #df91fb, #8ca6db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-journal-txt{
  background-image: linear-gradient(141deg, #1f1c2c, #928dab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 .strike {
  background: linear-gradient(to top, transparent calc(.65em - 6px), #3f3e44 calc(.65em - 6px), #3f3e44 .65em, transparent .65em);
  background-size: 100% 1em;
}


.txt-accent{
  background-image: linear-gradient(-225deg,#ff4eb3  0%, #ff765c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-fill{
  /* color: #1fc8db; */
  /* color: #0fb8ad; */

   background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-fill-me{
  color: #1fc8db;
  /* color: #0fb8ad; */
}


.txt-accent2{
  font-weight: bold !important;
  background-image: linear-gradient(-225deg, #76b852 0%, #f79d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight{
  background-image: linear-gradient(-225deg,#ff4eb3  0%, #ff765c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}


.table-highlight{
  background-color: #eeeeee;
  /* background-color: rgba(44,181,232, 0.6); */
}

.shadow{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.red{
  background: red !important;
}

.transparent{
  background: transparent !important;
}

.ease-transparent{
  -webkit-transition: background 5s ease;
  transition: background 5s ease;
  background: transparent !important;
  /*NB: this eases out the navbar when the display is
   <= 768px and the navigation menu is clicked
   for #navbar-header-div */
}

.ease-transparent-fast{
  -webkit-transition: background 0.7s ease;
  transition: background 0.7s ease;
  background: transparent !important;
}

.ease-white{
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
  background-color: white !important;
}

.ease-translucent-dark{
  -webkit-transition: background-color 1.5s ease;
  transition: background-color 1.5s ease;
  background-color: rgba(63, 62, 68, 0.85) !important;
}

.ease-translucent-light{
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background-color: rgba(255, 255, 255, 0.85) !important;
};

.white-fill{
  color: #ffffff !important;
}

.red-text{
  color: red;
}

.quote-color{
  color: white;
}
.material-gray{
  color: #263238 !important;
}

.material-light-gray{
  color: grey !important;
}


.navbar-color{
  color : #9e9e9e !important;
}

.navbar-color-alt{
  color: white !important;
}


#passion-strike{
  color: #FFA91f;
}

#passion-strike span{
  font-family: 'Inconsolata', monospace;
  color: #3C3B41;
}

#js-strike{
  color: #FCC56B;
}

/*#js-strike span{
  color: grey;
}*/

::selection{
background: #3f3e44 !important;
}
/*----------Dimensions----------*/
.min-width{
  min-width: 320px;
}

.max-height{
  height: auto;
  min-height: 500px;
}
/*----------transitions----------*/

.collapsing {
  /*NB This is a bootstrap class being overriden*/
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;

}


.in{
  /*NB This is a bootstrap class being overriden*/
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: none !important;

}

/*----------Misc----------*/
.hide-me{
  visibility: hidden !important;
}

.no-display{
  display: none !important;
}

.pos-absolute{
  position: absolute;
  z-index: 10001;
}

.pos-fixed{
  position: fixed;
  z-index: 10001;
}

.overflow-hidden{
  overflow: hidden;
}

.svg70{
  width: 80px;
  height: 80px;
  /* margin-bottom: 20px; */
}

.svg60{
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}


.section-decoration{
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: #eee;
}

.section-decoration .minor{
  width: 100%;
  height: 30%;
}

.section-decoration .major{
  width: calc(100% + 80px);
  height: 50vh;
  background-color: #fff;
  transform: rotate(-3deg);
} 

.padding-bottom-80{
  padding-bottom: 150px !important;
}

/*----------@media stuff----------*/

@media only screen  and (min-width : 2000px) {
  .icon-size-sm{
    font-size: calc(2em * 1.2) !important;
    }
  }

@media only screen  and (min-width : 3000px) {
  .icon-size-sm{
    font-size: calc(2em * 2.4) !important;
    }
  }

  @media only screen  and (min-width : 2000px) {
    .victory-icon-format{
      width: calc(400px * 1.2);
      height: calc(400px * 1.2);
      }
    }
  
  @media only screen  and (min-width : 3000px) {
    .victory-icon-format{
      width: calc(400px * 2.4);
      height: calc(400px * 2.4);
      }
    }

    @media only screen  and (min-width : 2000px) {
      #greeter-logo figure{
        width: calc(400px * 1.2);
        height: calc(400px * 1.2);
        }
      }
    
    @media only screen  and (min-width : 3000px) {
      #greeter-logo figure{
        width: calc(400px * 2.4);
        height: calc(400px * 2.4);
        }
      }


@media (max-width: 768px) {
  p{
      font-size: 1.31em;
  }
}

@media only screen  and (min-width : 2000px) {
  p{
    /* font-size: 1.8em; */
    font-size: calc(1.2em * 1.2);
    }
  }

  @media only screen  and (min-width : 3000px) {
    p{
      /* font-size: 1.8em; */
      font-size: calc(1.2em * 2.4);
      }
    }

@media (max-width: 768px) {
  h1{
      font-size: 2em;
  }
}

@media only screen  and (min-width : 2000px) {
  h1{
    font-size: calc(2.5em * 1.2);
  }
  }

@media only screen  and (min-width : 3000px) {
    h1{
      font-size: calc(2.5em * 2.4);
    }
    }

@media (max-width: 768px) {
  h3{
      font-size: 1.4em;
  }
}

@media only screen  and (min-width : 2000px) {
  h3{
    font-size: calc(1.75em * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  h3{
    font-size: calc(1.75em * 2.4);
  }
}

@media only screen  and (min-width : 2000px) {
  h4{
    font-size: calc(1.3em * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  h4{
    font-size: calc(1.3em * 2.4);
  }
}

@media (max-width: 768px) {
  .inconsolata{
    font-size: 1.1em;
    text-align: center;
    max-width: 100%;
  }
}

@media only screen  and (min-width : 2000px) {
  .inconsolata{
    font-size: calc(1.02em * 1.2);
    white-space: wrap;
    text-align: center;
    max-width: 100%;
  }
}

@media only screen  and (min-width : 3000px) {
  .inconsolata{
    font-size: calc(1.02em * 2.4);
    white-space: wrap;
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width : 768px) {
  .custom-nav-format{
    font-size: 2.5em !important;
  }
}


@media only screen  and (min-width : 2000px) {
  .custom-nav-format{
    font-size: calc(3em * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  .custom-nav-format{
    font-size: calc(3em * 2.4);
  }
}

@media (max-width : 768px) {
  .custom-nav-contact-format{
    font-size: 1em !important;
  }
}

@media only screen  and (min-width : 2000px) {
  .custom-nav-contact-format{
    font-size: calc(1.02em * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  .custom-nav-contact-format{
    font-size: calc(1.02em * 2.4);
  }
}

@media only screen  and (min-width : 2000px) {
  #custom-nav .nav-contact-ul .nav-contact-li{
    font-size: 0px calc(10px * 1.2) 0px calc(10px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #custom-nav .nav-contact-ul .nav-contact-li{
    margin: 0px calc(10px * 2.4) 0px calc(10px * 2.4);
  }
}

@media (max-width: 768px) {
  .footer-format{
      font-size: 1.563em;
  }
}

@media only screen  and (min-width : 2000px) {
  .footer-format{
    font-size: calc(2.5em * 1.2);
    white-space: wrap;
    text-align: center;
    max-width: 100%;
  }
}

@media only screen  and (min-width : 3000px) {
  .footer-format{
    font-size: calc(2.5em * 2.4);
    white-space: wrap;
    text-align: center;
    max-width: 100%;
  }
}

@media only screen  and (min-width : 2000px) {
  .card-pic-format{
    width: calc(300px * 1.2);
    height: calc(300px * 1.2);
    border: calc(3px * 1.2) solid #ffffff;
  }
}

@media only screen  and (min-width : 3000px) {
  .card-pic-format{
    width: calc(300px * 2.4);
    height: calc(300px * 2.4);
    border: calc(3px * 2.4) solid #ffffff;
  }
}

@media only screen  and (min-width : 2000px) {
  .card-icons-format{
    font-size: calc(50px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  .card-icons-format{
    font-size: calc(50px * 2.4);
  }
}

@media (max-width: 768px) {
  .slogan{
      font-size: 3em;
  }
}

@media only screen  and (min-width : 2000px) {
  .slogan{
    font-size: calc(3.5em * 1.2);
    padding: calc(5px * 1.2) calc(10px * 1.2) calc(5px * 1.2) calc(10px * 1.2);
    margin: calc(60px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  .slogan{
    font-size: calc(3.5em * 2.4);
    padding: calc(5px * 2.4.2) calc(10px * 2.4) calc(5px * 2.4) calc(10px * 2.4);
    margin: calc(60px * 2.4);
  }
}

@media only screen  and (min-width : 2000px) {
  .section-badge{
    width: calc(200px * 1.2);
    height: calc(200px * 1.2);
    margin: (20px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  .section-badge{
    width: calc(200px * 2.4);
    height: calc(200px * 2.4);
    margin: (20px * 2.4);
  }
}

@media only screen  and (min-width : 2000px) {
  .section-badge img{
    width: calc(100px * 1.2);
    height: calc(100px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  .section-badge img{
    width: calc(100px * 2.4);
    height: calc(100px * 2.4);
  }
}


@media (max-width: 768px) {
    .custom-modal{
        width: 95%;
        min-height: 95%;
    }
}

 @media (max-width: 768px) {
    .custom-modal .custom-modal-window-close{
        top: 93%;
        left: 45%;
    }
} 

@media(max-width: 768px){
  #pseudo-body #greeter #greeter-about-container p{
    /* white-space: normal; */
    text-align: left;
    /* line-height: 1.6em; */
  }
}

@media(max-width: 768px){
  #greeter-logo figure{
    width: 300px;
    height: 300px;
  }
}


@media (max-width: 768px) {
    #greeter-breaker-h1{
        font-size: 2.25em;
        left: 10%;
    }
}

@media only screen  and (min-width : 2000px) {
  #greeter-breaker h1{
    font-size: calc(4.3em * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #greeter-breaker h1{
    font-size: calc(4.3em * 2.4);
  }
}

@media only screen  and (min-width : 2000px) {
  .strike{
        background: linear-gradient(to top, transparent calc(.65em - 6px), #3f3e44 calc(.65em - 6px), #3f3e44 .8em, transparent .65em);
    background-size: 100% 1.1em;
  }
}

@media only screen  and (min-width : 3000px) {
  .strike{
        background: linear-gradient(to top, transparent calc(.65em - 6px), #3f3e44 calc(.65em - 6px), #3f3e44 .8em, transparent .65em);
    background-size: 100% 1.1em;
  }
}

@media only screen  and (min-width : 2000px) {
  #greeter-breaker img{
    width: calc(783px * 1.2);
    height: calc(978px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #greeter-breaker img{
    width: calc(783px * 2.4);
    height: calc(978px * 2.4);
  }
}

@media(max-width: 768px){
  #greeter-menu-drop-icon img{
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 500px) {
    #me-pic-div{
        width: 250px !important;
        height: 250px !important;
    }
}

@media (max-width: 768px) {
    #me-card p{
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .me-card-icons div{
       width: 100px !important;
    }
}

@media (max-width: 768px) {
    #me-subsection {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    #me-subsection #education {
        width: 100%;
    }
}

@media only screen  and (min-width : 2000px) {
  #grade-table table tbody tr td{
    width: calc(400px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #grade-table table tbody tr td{
    width: calc(400px * 2.4);
  }
}


@media (max-width: 768px) {
    #me-subsection #work {
        width: 100%;
    }
}

@media only screen  and (min-width : 2000px) {
  #me-subsection #work .work-info-btn{
    width: calc(90px * 1.2);
    height: calc(29px * 1.2);
    border-radius: calc(5px * 1.2);
    padding: calc(6px * 1.2);
    box-shadow: 0 calc(9px * 1.2) calc(25px * 1.2) calc(-5px * 1.2) #1fc8db;
  }
}

/* @media only screen  and (min-width : 2000px) {
  #me-subsection #work .work-info-btn:hover{
    transform: translateY(calc(-5px * 1.2));
    box-shadow: 0 calc(18px * 1.2) calc(25px * 1.2) calc(-5px * 1.2) #1fc8db;
  }
} */

@media only screen  and (min-width : 3000px) {
  #me-subsection #work .work-info-btn{
    width: calc(90px * 2.4);
    height: calc(29px * 2.4);
    border-radius: calc(5px * 2.4);
    padding: calc(6px * 2.4);
    box-shadow: 0 calc(9px * 2.4) calc(25px * 2.4) calc(-5px * 2.4) #1fc8db;
  }
}

/* @media only screen  and (min-width : 3000px) {
  #me-subsection #work .work-info-btn:hover{
    transform: translateY(calc(-5px * 2.4));
    box-shadow: 0 calc(18px * 2.4) calc(25px * 2.4) calc(-5px * 2.4) #1fc8db;
  }
} */


@media (max-width: 768px) {
    #me-subsection #skills{
        width: 100%;
    }
}

@media only screen  and (min-width : 2000px) {
  #me-section #skills .skills-icons i{
    font-size: calc(55px * 1.2);
    width: calc(61px * 1.2);
    height: calc(61px * 1.2);
    border: calc(2px * 1.2) solid #eeeeee;
  }
}

@media only screen  and (min-width : 3000px) {
  #me-section #skills .skills-icons i{
    font-size: calc(55px * 2.4);
    width: calc(61px * 2.4);
    height: calc(61px * 2.4);
    border: calc(2px * 2.4) solid #eeeeee;
  }
}

@media (max-width: 768px) {
    #me-subsection #skills div ul li{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    #me-subsection #skills div ul li .ability{
        margin: 0px;
    }
}

@media (max-width: 768px) {
    #me-subsection #skills div ul li .ability-score{
        margin-bottom: 5px;
    }
}

@media only screen  and (min-width : 2000px) {
  #me-subsection #skills div ul li .ability-score{
    font-size: calc(1em * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #me-subsection #skills div ul li .ability-score{
    font-size: calc(1em * 2.4);
  }
}

@media (max-width: 768px) {
    #me-subsection #future{
        width: 100%;
        padding: 0px 5% 0px 5%;
    }
}

@media (max-width: 768px) {
    #future .future-plans-layout{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    #future .future-plans-layout .container-1{
        width: 95%;
        align-items: center;
    }
}

@media only screen  and (min-width : 2000px) {
  #future .future-plans-layout{
    margin-bottom: calc(60px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #future .future-plans-layout{
    margin-bottom: calc(60px * 2.4);
  }
}

@media (max-width: 768px) {
    #future .future-plans-layout .container-2{
        width: 95%;
    }
}

@media (max-width: 768px) {
    .container-2 .txt-container{
        text-align: center;
    }
}

@media (max-width: 768px) {
    #future .future-plans-layout-reverse{
        flex-direction: column;
    }
}

@media only screen  and (min-width : 2000px) {
  #future .future-plans-layout-reverse{
    margin-bottom: calc(60px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #future .future-plans-layout-reverse{
    margin-bottom: calc(60px * 2.4);
  }
}

@media (max-width: 768px) {
    .future-plans-layout-reverse .container-1{
        width: 95%;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #future .future-plans-layout-reverse .container-2{
        width: 95%;
    }
}

@media (max-width: 768px) {
    .hobbies-container .hobbies-row{
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    #me-subsection #fancies{
        width: 100%;
        padding: 0px 5% 0px 5%;
    }
}

@media (max-width: 768px) {
    #fancies .fancies-layout{
        flex-direction: column;
    }
}

@media only screen  and (min-width : 2000px) {
  #fancies .fancies-layout{
    margin-bottom: calc(60px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #fancies .fancies-layout{
    margin-bottom: calc(60px * 2.4);
  }
}


@media (max-width: 768px) {
    #fancies .fancies-layout .container-1{
        width: 95%;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #fancies .fancies-layout .container-2{
        width: 95%;
    }
}

@media (max-width: 768px) {
    .container-2 .txt-container{
        text-align: center;
    }
}

@media (max-width: 768px) {
    #fancies .fancies-layout-reverse{
        flex-direction: column;
    }
}

@media only screen  and (min-width : 3000px) {
  #fancies .fancies-layout-reverse{
    margin-bottom: calc(60px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #fancies .fancies-layout-reverse{
    margin-bottom: calc(60px * 2.4);
  }
}

@media (max-width: 768px) {
    .fancies-layout-reverse .container-1{
        width: 95%;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #fancies .fancies-layout-reverse .container-2{
        width: 95%;
    }
}


@media (max-width: 768px) {
  #groudie .me-imgs-icons-top{
      top: 0.1%;
  }
}

@media only screen  and (min-width : 2000px) {
  #groudie .me-imgs-icons-top{
    font-size: calc(35px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #groudie .me-imgs-icons-top{
    font-size: calc(35px * 2.4);
  }
}

@media (max-width: 768px) {
  #groudie .me-imgs-icons-bottom span{
    margin: 20px 10px 20px 10px;
  }
} 


@media (max-width: 768px) {
  #me-imgs{
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  #me-imgs .me-img-container{
      height: 40px;
      width: 80%;
  }
} 

@media only screen  and (min-width : 2000px) {
  #me-imgs .me-img-container{
    width: calc(80px * 1.2);
    height: calc(300px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #me-imgs .me-img-container{
    width: calc(80px * 2.4);
    height: calc(300px * 2.4);
  }
}

@media only screen  and (min-width : 2000px) {
  #me-imgs .me-img-container:hover{
    width: calc(350px * 1.5);
    height: calc(400px * 1.5);
  }
}

@media only screen  and (min-width : 3000px) {
  #me-imgs .me-img-container:hover{
    width: calc(350px * 2.4);
    height: calc(400px * 2.4);
  }
}

@media (max-width: 768px) {
  #me-imgs .me-imgs-arrow{
      visibility: hidden;
  }
} 

@media only screen  and (min-width : 2000px) {
  #groudie .me-imgs-icons-bottom span{
    margin: calc(20px * 1.2) calc(20px * 1.2) calc(20px * 1.2) calc(20px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #groudie .me-imgs-icons-bottom span{
    margin: calc(20px * 2.4) calc(20px * 2.4) calc(20px * 2.4) calc(20px * 2.4);
  }
}

@media (max-width: 768px) {
    #services-card p{
        max-width: 100% !important;
    }
}

@media (max-width: 768px) {
    .services-card-icons div{
       width: 100px !important;
    }
}

@media (max-width: 768px) {
    .services-card-icons div h4{
       text-align: center;
    }
}

@media (max-width: 768px) {
    #services-subsection{
        width: 100%;
    }
}

@media (max-width: 768px) {
    #services-subsection div{
        width: 100%;
        padding: 20px;
    }
}


@media (max-width: 768px) {
    #services-linux-h1{
        align-self: center;
    }
}


@media (max-width: 768px) {
    #services-linux-h1 h1{
        font-size: 2.85em;
        text-align: center;
    }
}

@media only screen  and (min-width : 2000px) {
  #services-linux-h1 h1{
    font-size: calc(4.3em * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #services-linux-h1 h1{
    font-size: calc(4.3em * 2.4);
  }
}

@media (max-width: 768px) {
    #services-linux-img img{
        width: 426px;
        height: 250px;
    }
}

@media only screen  and (min-width : 2000px) {
  #services-linux-img img{
    width: calc(1280px * 1.2);
    height: calc(740px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #services-linux-img img{
    width: calc(1280px * 2.4);
    height: calc(740px * 2.4);
  }
}


@media (max-width: 768px) {
    #services-linux-p{
        align-self: center;
        width: 370px;
    }
}

@media (max-width: 768px) {
    #services-linux-p p{
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 500px) {
  #contact-pic-div{
      width: 250px !important;
      height: 250px !important;
  }
}

@media (max-width: 500px) {
    #contact-card{
        padding-bottom: 150px;
    }
}

@media (max-width: 768px) {
    #contact-card p{
        max-width: 100% !important;
    }
}

@media (max-width: 768px) {
    .contact-card-icons div{
       width: 200px;
       height: 100px;
       flex-wrap: nowrap;
    }
}

@media (max-width: 768px) {
    .contact-card-icons div h4{
       text-align: center;
    }
}

@media only screen  and (min-width : 2000px) {
  #contact-subsection{
    background: url("img/contact-background-image-alt2k.jpg") repeat center center fixed;
  }
}

@media only screen  and (min-width : 3000px) {
  #contact-subsection{
    background: url("img/contact-background-image-alt4k.jpg") repeat center center fixed;
  }
}

@media (max-width: 768px) {
   #contact-subsection div form {
      width: 95%;
    }
}

@media only screen  and (min-width : 3000px) {
  #contact-subsection div form {
    box-shadow: 0 calc(14px * 2.4) calc(28px * 2.4) rgba(0,0,0,0.25), 0 calc(10px * 2.4) calc(10px * 2.4) rgba(0,0,0,0.22);
  }
}

@media only screen  and (min-width : 2000px) {
  #contact-subsection div form span{
    font-size: calc(80px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  #contact-subsection div form span{
    font-size: calc(80px * 2.4);
  }
}

@media (max-width: 768px) {
  input[type=text]{
    width: 80%;
  }
}

@media only screen  and (min-width : 2000px) {
  input[type=text]{
    font-size: calc(1.45em * 1.2);
    height: calc(40px * 1.2);
    border-radius: calc(30px * 1.2);
  }
}

@media only screen  and (min-width : 3000px) {
  input[type=text]{
    font-size: calc(1.45em * 2.4);
    height: calc(40px * 2.4);
    border-radius: calc(30px * 2.4);
  }
}

@media (max-width: 768px) {
  form textarea{
    width: 80%;
  }
}

@media only screen  and (min-width : 2000px) {
  input[type=submit]{
    font-size: calc(1.45em * 1.2);
    width: calc(150px * 1.2);
    height: calc(40px * 1.2);
    border-radius: calc(5px * 1.2);
  }
}

@media only screen  and (min-width : 2000px) {
  input[type=submit]:hover{
    transform: translateY(calc(-5px * 1.2));
    -webkit-transform: translateY(calc(-5px * 1.2));
    box-shadow: 0 calc(18px * 1.2) calc(25px * 1.2) calc(-5px * 1.2) #df91fb;
  }
}

@media only screen  and (min-width : 3000px) {
  input[type=submit]{
    font-size: calc(1.45em * 2.4);
    width: calc(150px * 2.4);
    height: calc(40px * 2.4);
    border-radius: calc(5px * 2.4);
  }
}

@media only screen  and (min-width : 3000px) {
  input[type=submit]:hover{
    transform: translateY(calc(-5px * 2.4));
    -webkit-transform: translateY(calc(-5px * 2.4));
    box-shadow: 0 calc(18px * 2.4) calc(25px * 2.4) calc(-5px * 2.4) #df91fb;
}

@media only screen  and (min-width : 2000px) {
  form textarea{
    font-size: calc(1.45em * 1.2);
    border-bottom: calc(2px * 1.2) solid #cfcfcf;
  }
}

@media only screen  and (min-width : 2000px) {
  form textarea:focus{
    
    border-bottom: calc(2px * 1.2) solid #df91fb;
  }
}

@media only screen  and (min-width : 3000px) {
  form textarea{
    font-size: calc(1.45em * 2.4);
    border-bottom: calc(2px * 2.4) solid #cfcfcf;
  }
}

@media only screen  and (min-width : 3000px) {
  form textarea:focus{
    
    border-bottom: calc(2px * 2.4) solid #df91fb;
  }
}

@media (max-width: 768px) {
  #contact-breaker p{
    width: 95%;
  }
}

@media (max-width: 768px) {
  #copyleft {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  #copyleft-row-1 {
    margin: 0px auto 0px auto;
  }
}

@media (max-width: 768px) {
  #copyleft-row-2 {
    margin: 0px auto 0px auto;
  }
}

@media (max-width: 768px) {
  .slogan{
    font-size: 36px;
    
  }
}
