body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

a{
    font-family: 'Inconsolata', 'Courier', 'Courier New', 'Lucida Sans Typewriter', 'Lucida Console', 'Monaco', 'Andale Mono', monospace;
}

b{
    color: #333;
}

#obsolete-browser-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
}

#obsolete-browser-content h1{
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    color: #333;
    margin-bottom: 50px; 

}

#obsolete-browser-content p{
    width: 80%; /*IE support*/
    margin-bottom: 5%;
    font-family: 'Inconsolata', 'Courier', 'Courier New',
    'Lucida Sans Typewriter', 'Lucida Console', 'Monaco', 'Andale Mono', monospace;
}

#obsolete-browser-content a{
    width: 80%; /*IE support*/
    font-family: 'Inconsolata', 'Courier', 'Courier New',
    'Lucida Sans Typewriter', 'Lucida Console', 'Monaco', 'Andale Mono', monospace;
    font-size: 1.1em;
    color: #333;
    text-align: center;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

#obsolete-browser-content a:hover{
    color: #FF6484;
}

#obsolete-browser-content a:visited{
    text-decoration: none;
}

#browsers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#browsers div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 105px;
    border-radius: 10px;
    margin: 0px 10px 5% 10px;
    padding: 10px;
    margin-top: 20px; 
    box-shadow: -3px 5px 25px 0px rgba(46,61,73,0.2);
    transition: all 0.3s ease-in-out;
}

#browsers div:hover{
    filter: brightness(90%);
    box-shadow: 5px 2px 20px 0px rgba(46,61,73,0.15);
}

#browsers div figure{
 width: 70px;
 height: 70px;
}

#browsers div figure img{
    width: 100%;
    height: 100%;
}

#copyleft{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /*----------Media Queries----------*/

@media only screen and (min-width: 2000px){
    #obsolete-browser-content h1 {
        font-size: calc(4em * 1.2);
        margin-bottom: calc(50px * 1.2);
    }
  }

@media only screen and (min-width: 3000px){
    #obsolete-browser-content h1 {
      font-size: calc(4em * 2.4);
      margin-bottom: calc(50px * 2.4);
  }
}

@media only screen and (min-width: 2000px){
    #obsolete-browser-content a {
        font-size: calc(1.1em * 1.2);
        margin-bottom: calc(50px * 1.2);
    }
  }

@media only screen and (min-width: 3000px){
    #obsolete-browser-content a {
      font-size: calc(1.1em * 2.4);
      margin-bottom: calc(50px * 2.4);
  }
}

  @media (max-width: 768px) {
    #browsers{
      flex-wrap: wrap;
    }
  }

  @media (max-width: 768px) {
    #browsers div{
        margin: 0px 10px 5% 10px;
    }
  }

   @media only screen and (min-width: 2000px){
    #browsers div{
        margin: 0px calc(10px * 1.2) 5% calc(10px * 1.2);
        width: calc(105px * 1.2);
        height: calc(105px * 1.2);
        border-radius: calc(10px * 1.2);
        box-shadow: calc(-3px * 1.2) calc(5px * 1.2) calc(25px * 1.2) 0px rgba(46,61,73,0.2);
    }
  }

  @media only screen and (min-width: 3000px){
    #browsers div{
        margin: 0px calc(10px * 2.4) 5% calc(10px * 2.4);
        width: calc(105px * 2.4);
        height: calc(105px * 2.4);
        border-radius: calc(10px * 2.4);
        box-shadow: calc(-3px * 2.4) calc(5px * 2.4) calc(25px * 2.4) 0px rgba(46,61,73,0.2);
    }
  }

  @media only screen and (min-width: 2000px){
    #browsers div figure{
        width: calc(70px * 1.2);
        height: calc(70px * 1.2);
    }
  }

  @media only screen and (min-width: 3000px){
    #browsers div figure{
        width: calc(70px * 2.4);
        height: calc(70px * 2.4);
    }
  }


  @media (max-width: 768px) {
    #obsolete-browser-content{
      width: 95%;
    }
  }

  @media (max-width: 768px) {
    #obsolete-browser-content p{
      width: 95%;
      margin-bottom: 60px;
    }
  }

  @media (max-width: 768px) {
    #copyleft{
        position: static;
    }
  }