html, body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
     position: relative;
}

body::-webkit-scrollbar {
  /* width: 0.75em; */
  background-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

body::-webkit-scrollbar-thumb {
background-color: #23C086;
outline: 1px solid slategrey;
}

#pseudo-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 0px;
    margin: 0px;
    color: #fff;
  }


p {
  font-family: 'Inconsolata', 'Courier', 'Courier New', 'Lucida Sans Typewriter',
   'Lucida Console', 'Monaco', 'Andale Mono', monospace;
    /* color: #9e9e9e; */
    color: #fff;
} 


h3{
  color: #fff;
}


h4{
  color: #fff;
}

u{
  color: #9e9e9e;
}

s{
  color: #9e9e9e;
}

.inconsolata{
  color: #fff;
  padding: 5px 10px 5px 10px;
}

#nav-btn span i{
  color: white;
}

.card-format{
box-shadow: none;
padding-bottom: 150px;
}

.card-pic-format{
  border: 3px solid #23C086;
  margin-bottom: 50px;
}

.card-format-shadow{
  box-shadow: 0px 39px 61px -15px rgba(0,0,0,0.5);
}

#custom-nav-container{
  background-color: #fff;
}

.custom-nav-format{
  color: #3f3e44;
}

#custom-nav .nav-contact-ul .nav-contact-li a{
  color: #3f3e44;
  transition: color 0.3s ease-in-out;
}

#custom-nav .nav-contact-ul .nav-contact-li a:hover{
  color: #23C086;
}

#custom-nav .nav-contact-ul .seperator-li p{
  color: #3f3e44;
}



#questions-answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #333;
}

.questions-answers-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px;
}

.questions-answers-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
    padding: 20px;
    margin: 0px auto 0px auto;
    text-align: left;
}

.me-imgs-icons-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 22;
    padding: 80px 0px 0px 0px;
    background-color: #333;
  }
  
  .me-imgs-icons-bottom span{
    margin: 20px 20px 20px 20px;
  }
  
  .me-imgs-icons-bottom span i{
    /* color: #9e9e9e; */
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .me-imgs-icons-bottom span i:hover{
    color: #23C086;
  }



  /*----------Media Queries----------*/

  @media (max-width: 768px) {
    p{
        text-align: left;
    }
  }

  @media (max-width: 768px) {
    h1{
        font-size: 2em;
        text-align: left;
        margin: 0px;
    }
  }

  @media only screen and (min-width: 2000px){
    .card-pic-format{
      border: calc(3px * 1.2) solid #23C086;
      margin-bottom: calc(50px * 1.2);
    }
  }

  @media only screen and (min-width: 3000px){
    .card-pic-format{
      border: calc(3px * 2.4) solid #23C086;
      margin-bottom: calc(50px * 2.4);
    }
  }

  @media (max-width: 768px) {
    #questions-answers{
        width: 100%;
    }
  }

  @media (max-width: 768px) {
    .questions-answers-container{
        flex-wrap: wrap;
        padding: 10px;
    }
  }

  @media (max-width: 768px) {
    .questions-answers-content{
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
    }
  }

  @media only screen and (min-width: 2000px){
    .questions-answers-content{
        width: calc(600px * 1.2);
        padding: calc(20px * 1.2);
    }
  }

  @media only screen and (min-width: 3000px){
  .questions-answers-content{
      width: calc(600px * 2.4);
      padding: calc(20px * 1.2);
  }
}

@media (max-width: 768px) {
  .me-imgs-icons-bottom span{
      margin: 3%;
  }
}

@media only screen and (min-width: 2000px){
  .me-imgs-icons-bottom{
      padding: calc(80px * 1.2) 0px 0px 0px;
  }
}

@media only screen and (min-width: 3000px){
  .me-imgs-icons-bottom{
      padding: calc(80px * 2.4) 0px 0px 0px;
  }
}

@media only screen and (min-width: 2000px){
  .me-imgs-icons-bottom span{
    margin: calc(20px * 1.2);
  }
}

@media only screen and (min-width: 3000px){
  .me-imgs-icons-bottom span{
    margin: calc(20px * 2.4);
  }
}