html, body {
    min-width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

body{
     min-width: 320px;
     overflow-x: hidden;
     position: relative;
}

#pseudo-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: linear-gradient(141deg, #abecd6, #fbed96); */
    /* background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%); */
    /* background-image: linear-gradient(225deg, #9be15d, #00e3ae); */
    /* background-image: linear-gradient(-225deg, #00e3ae 0%, #F9FEA5 100%); */
    /*background-image: linear-gradient(-225deg, #136a8a 0%, #267871 100%);*/
    /* background-image: linear-gradient(-225deg, #16222A 0%, #3A6073 100%);*/
    /* background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    color: #fff;
  }

/* s{
  color: #364962;
}

u{
  color: #90a1b8;
} */

p {
    font-family: 'Inconsolata', monospace;
    /* color: #90a1b8; */
    color: #9e9e9e;
} 

h1{
  color: #909090;
  font-family: 'Josefin Slab', Georgia, serif;
  font-weight: bold;
}

h3{
  font-family: 'Josefin Slab', serif;
  font-size: 1.75em;
  color: #fff;
}


h4{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  color: #fff;
  text-align: center;
  min-height: 84px;
  font-weight: light;
}

.custom-nav-format{
  font-family: 'Inconsolata', monospace;
  /* font-size: 50px; */
  font-size: 3.5em;
  letter-spacing: 6px;
  color: #fff;
  list-style: none !important;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out;
}

.custom-nav-format:hover{
    color: #fff;
}

.custom-nav-contact-format{
  font-family: 'Inconsolata', monospace;
  /* font-size: 17px; */
  font-size: 1.2em;
  color: #fff;
  list-style: none !important;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out;
}

.custom-nav-contacts-format:hover{
    color: #fff;
}

.inconsolata{
  font-family: 'Inconsolata', monospace;
  /* font-size: 17px; */
  font-size: 1.22em;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

.card-format{
box-shadow: none;
padding-bottom: 150px;
}

.card-format-shadow{
  box-shadow: 0px 39px 61px -15px rgba(0,0,0,0.5);
}

.card-pic-format{
    /* margin: 0px; */
}


#questions-answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) !important; */
}

.questions-answers-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px;
}

.questions-answers-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
    padding: 20px;
    margin: 0px auto 0px auto;
    text-align: left;
}

.me-imgs-icons-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    bottom: 0%;
    z-index: 22;
    padding: 0px;
    margin: 10% 0px 0px 0px;
  }
  
  .me-imgs-icons-bottom span{
    margin: 20px 20px 20px 20px;
  }
  
  .me-imgs-icons-bottom span i{
    color: #9e9e9e;
    transition: color 0.3s ease-in-out;
  }
  
  .me-imgs-icons-bottom span i:hover{
    /* color: #364962; */
    color: #707070;
  }



  /*----------Media Queries----------*/

  @media (max-width: 768px) {
    #questions-answers{
        width: 100%;
    }
  }

  @media (max-width: 768px) {
    .questions-answers-container{
        flex-wrap: wrap;
        padding: 10px;
    }
  }

  @media (max-width: 768px) {
    .questions-answers-content{
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
    }
  }

  @media only screen and (min-width: 2000px){
    .questions-answers-content{
        width: calc(600px * 1.2);
        padding: calc(20px * 1.2);
    }
  }

  @media only screen and (min-width: 3000px){
  .questions-answers-content{
      width: calc(600px * 2.4);
      padding: calc(20px * 1.2);
  }
}